* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background-color: rgb(33, 37, 41);
  color: rgb(244, 255, 251);
}

section {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: lighter;
}

p,
li {
  font-size: 13px;
}

footer {
  background-color: rgb(63, 63, 63);
  color: rgb(210, 204, 200);
}

ul {
  list-style-type: none;
}

li {
  color: rgb(158, 156, 143);
}

#description_1 {
  background-color: rgb(221, 240, 255);
}
#description_2 {
  background-color: rgb(104, 237, 182);
}

.padding_left_right {
  padding-left: 7vw;
  padding-right: 10vw;
}

.navbar {
  display: flex;
  gap: 1vw;
  padding: 1.5vh 0;
}

.nav_links {
  padding: 1vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  transition: all 0.3s ease-in;
  border-radius: 3px;
}

.nav_links:hover {
  color: rgb(33, 37, 41);
  background-color: rgb(244, 255, 251);
  cursor: pointer;
  overflow: hidden;
}

.flexbox {
  display: flex;
  gap: 8vh;
}

.blue_button i {
  visibility: hidden;
  transition: all 0.2s ease-out;
}

.blue_button:hover i {
  visibility: visible;
  transform: translateX(3px);
}

.blue_button:hover {
  background-color: rgb(8, 136, 240);
}

.blue_button {
  width: 117px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(16, 149, 255);
  color: white;
}

.green_button {
  width: 117px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(0, 188, 110);
  color: white;
}

.green_button i {
  visibility: hidden;
  transition: all 0.2s ease-out;
}

.green_button:hover i {
  visibility: visible;
  transform: translateX(3px);
}

.green_button:hover {
  background-color: rgb(0, 172, 100);
}

#features {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all_features {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 75vw;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(233, 233, 233);
  padding: 10px;
  width: 15vw;
  height: 17vw;
  border-radius: 4px;
}

.feature p {
  text-align: center;
}

.feature_icon {
  border-radius: 100px;
  padding: 15px;
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music_icon {
  border: 1px solid rgb(255, 108, 247);
  color: rgb(255, 108, 247);
}

.download_icon {
  border: 1px solid rgb(15, 165, 131);
  color: rgb(15, 165, 131);
}

.location_icon {
  border: 1px solid rgb(255, 195, 27);
  color: rgb(255, 195, 27);
}

.connect_icon {
  border: 1px solid rgb(95, 139, 255);
  color: rgb(95, 139, 255);
}

.picture_icon {
  border: 1px solid rgb(81, 81, 81);
  color: rgb(81, 81, 81);
}

.footer_part {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 15vw;
  padding: 30px;
}

.footer_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.footer_items li:hover {
  color: rgb(210, 204, 200);
  cursor: pointer;
}

.image1{
  transition: all 0.3s ease-out;
}

.image1:hover {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}
